name: Update VPN Subscription

on:
  schedule:
    - cron: '0 */1 * * *'  # Обновление каждый  час
  workflow_dispatch:      # Ручной запуск

permissions:
  contents: write # Разрешение на запись в репозиторий

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' # Лучше использовать более новую версию Python

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt # Установка всех зависимостей из файла

    - name: Run script
      run: python main.py # Запуск основного скрипта

    - name: Commit and push changes
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git add FL1PVPN stats.json # Добавляем оба файла
        # Коммит только если есть изменения
        git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update VPN list [skip ci]" && git push)
