name: Update VPN Subscription

on:
  schedule:
    - cron: '0 */1 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests geoip2

    # --- ДОБАВЛЕНО: СКАЧИВАЕМ XRAY ---
    - name: Download Xray Core
      run: |
        wget https://github.com/XTLS/Xray-core/releases/download/v1.8.4/Xray-linux-64.zip
        unzip Xray-linux-64.zip
        chmod +x xray
        # Удаляем лишнее, чтобы не мусорить
        rm Xray-linux-64.zip geoip.dat geosite.dat

    - name: Run script
      run: python main.py

    - name: Commit and push changes
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git add .
        git commit -m "Auto-update FL1PVPN and Stats" || echo "No changes to commit"
        git pull --rebase origin main
        git push
